
<%= javascript_include_tag "board" %>
<div class="col-11 offset 0.5 container">
  <div class="col-8 offset-2">
    <h1 class="board-title"><%= @game.name %></h1>
    <br />
  </div>
      
  <div class="row">
    <div class="col-2 my sidebar">
      <%= @game.user.email %>
    </div>
    <div class="col-8">
      <div class="board">

        
        <% 8.downto(1).each do |row| %>
          <% 1.upto(8).each do |column| %>
            <% cell_black(row, column)? colour = 'black' : colour = 'white'%>
            <div class="square <%= colour %> pos<%= row %><%= column %>" data-id="<%= row %><%= column %>">

              <% @game.pieces.each do |piece| %>
                <% if piece.y_coordinate == row && piece.x_coordinate == column %>
                  <div class="piece"><%= link_to piece.type, piece_path(piece) %></div>
                <% end %>
              <% end %>

            </div>
          <% end %>
        <% end %>




      </div>
    </div>
    <div class="col-2 opponent sidebar">
      opponent here
      <%= @game.opponent_id %>
    </div>
  </div>
</div>

<script>

</script>
