
<%= javascript_include_tag "board" %>

<!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h5 class="modal-title">Select Piece to Promote To</h5>
        </div>
        <div class="modal-body">
          <div class="pieces-available"></div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" id="queen" data-dismiss="modal">queen ♕</button>
          <button type="button" class="btn btn-default" id="bishop" data-dismiss="modal">bishop ♗</button>
          <button type="button" class="btn btn-default" id="knight" data-dismiss="modal">knight ♘</button>
          <button type="button" class="btn btn-default" id="rook" data-dismiss="modal">rook ♖</button>
        </div>
      </div>
      
    </div>
  </div>


<div class="col-11 offset 0.5 container">
  <div class="col-8 offset-2">
    <h1 class="board-title"><%= @game.name %></h1>
    <br />
  </div>
      
  <div class="row">
    <div class="col-2 my sidebar">
      <% if @game.current_turn_player_id == @game.user_id %>
        <div class="next-player-on"><%= @game.user.email %></div>
      <% else %>
        <div class="next-player-off"><%= @game.user.email %></div>
      <% end %>
    </div>
    <div class="col-8">
      <div class="board">

        <% 8.downto(1).each do |row| %>
          <% 1.upto(8).each do |column| %>
            <% cell_black(row, column)? colour = 'black' : colour = 'white'%>
            <div class= "square <%= colour %> pos<%= row %><%= column %>" data-id="<%= row %><%= column %>">

              <% @game.pieces.each do |piece| %>
                <% if piece.y_coordinate == row && piece.x_coordinate == column %>
                  <div class="piece" data-piece="<%= piece.id %>">
                    <%= get_piece(piece.type, piece.white) %>
                  </div>
                <% end %>
              <% end %>

            </div>
          <% end %>
        <% end %>


      </div>
    </div>
    <div class="col-2 opponent sidebar">
      <div class="next-player-off">
        <% if @game.current_turn_player_id == @game.opponent_id %>
          <div class="next-player-on">
        <% else %>
          <div class="next-player-off">
        <% end %>
        
            <% if @game.opponent_id == nil && @game.user == current_user %>
              no opponent yet
            <% elsif @game.opponent_id == nil && @game.user != current_user %>
              <%= assign_opponent(@game.id, current_user.id) %>
              <%= current_user.email %>
            <% else %>
              <% opponent = User.where(:id => @game.opponent_id).first %>
              <%= opponent.email %>
            <% end %>

        </div>

      </div>
    </div>
  </div>
</div>


